main.container-fluid
	header.row
		nav.navbar.navbar-toggleable-md.col.bg-primary
			button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#mainNav")
				span.navbar-toggler-icon
			.navbar-brand
				img(src="http://placehold.it/200x50")
			#mainNav.collapse.navbar-collapse
				.nav-text.ml-auto 
					h3 Call: 1-866-527-5268
				.navbar-nav.justify-content-end
					.nav-item
						a.nav-link(href="#")
							i.fa.fa-comment
							| Chat now
					.nav-item
						a.nav-link(href="#") Enroll

	
	.hero.row.d-flex.justify-content-center
		img(src="http://placehold.it/1920x1080")
		.hero-overlay
			h1.text-lg-center Your Career Success<br/>On your Schedule
			h2.text-lg-center Get the Kaplan Program Guide
			
			.row.justify-content-center
				a.btn.btn-primary.col-3(href="#") Request information
	
	section.py-5
		.row
			.col-8.mx-auto
				h1.text-center Welcome [Company] employees
				p.text-center Kaplan University is pleased to be working with [Company] to provide employees and immediate family members the opportunity to pursue educational and career goals&mdash;while receiving a 20% tuition grawnt on Kaplan University courses. *
				p.text-center With 94% of our graduates feeling prepared to reach their career goals, Kaplan University is not just the choice of ambitious working adults. It's also the choice of your employer to recognize, develop and support talented employees, like you.
		.row.px-5
			// Triptych
			.col-12.col-lg-4.px-5
				h2.text-center.text-uppercase Study On Your Own Schedule
				ul
					li Take classes online
					li Take classes on-campus
					li New terms start every few weeks
			.col-12.col-lg-4.px-5
				h2.text-center.text-uppercase Personalized Programs
				ul
					li More than 180 degree programs
					li Small class size
					li Experienced faculty and support
			.col-12.col-lg-4.px-5
				h2.text-center.text-uppercase Within Your Reach
				ul
					li $35.8 million scholarships and grants awarded in the 2014-2015
					li More than $345 million saved in our credit transfer program in 2015<sup>*</sup>

		aside.row
			.col-10.mx-auto.bg-info.rounded
				.row
					.col-6.col-md-3
						h1.text-center 94%
						p.text-center of Kaplan grads feel prepared to reach their career goals
					.col-6.col-md-3
						h1.text-center 24
						p.text-center Average undergraduate class size
					.col-6.col-md-3
						h1.text-center 38
							sup K
						p.text-center Many of 38,000 students are adult learners with families and work full time
					.col-6.col-md-3
						h1.text-center 9
							sup K
						p.text-center Kaplan students are active military, veterans spouses, or dependents.

	section.row.bg-faded
		.col-10.mx-auto
			h1.text-center Choose from 180+ programs
			h3.text-center Including undergraduate, graduate, and doctoral programs:
			
			.row
				.col-3
					ul
						li Social and Behavioral Sciences
						li Special Military Programs
						li Information Technology
				.col-3
					ul
						li Education
						li Fire Science
						li Health Sciences
				.col-3
					ul
						li Legal Studies
						li Open College
						li Nursing
				.col-3
					ul
						li Business
						li Criminal Justice
						li And many more
				
			.row
				.col
					p.text-center
						em Kaplan University is accredited by The Higher Learning Commission (HLC).

	section.hidden-md-down
		.row.no-gutters
			.col-6.px-5.bg-purple.text-white
				i.fa.fa-3x.fa-graduation-cap
				h2.text-center Match your career path to a degree
				p.text-center Many careers at [Company] are powered by the skills gained through a Kaplan university degree. Our career calculator can help you quickly identify key skills needed for a future position, then match that career to a Kaplan degree.
				.row
					.col-3.mx-auto
						a.btn.btn-primary Find your new career
				
			.col-6
				img.img-responsive.img-photos(src="http://placehold.it/800x300")
		
		.row.no-gutters
			.col-6
				img.img-responsive.img-photos(src="http://placehold.it/800x400")
			
			.col-6.px-5.bg-purple.text-white
				i.fa.fa-3x.fa-usd
				h2.text-center Paying for school
				p.text-center Kaplan University is committed to helping students reach their goals &ndash; academically and professionaly. You may qualify for a Kaplan University scholarship, which could reduce your tuition by as much as $500 per term &ndash; a savings of $6,000 or more on your bachelor's degree.
				p.text-center Earned creditrs at a prior institution? The average bachelor's graduate with transfer credits saves over $32,000 in Kaplan University tuition. If you've got the dreams and the drive, we can help you reach your degree goals.
				
	section
		.row
			.col-10.mx-auto
				h1.text-center Kaplan is a military friendly school
				
				.row.justify-content-center
					.col-1.mx-3
						img(src="http://placehold.it/100x100")
					.col-1.mx-3
						img(src="http://placehold.it/100x100")
					.col-1.mx-3
						img(src="http://placehold.it/100x100")

	section
		.row
			.col-12.col-lg-6.bg-purple.text-white
				i.fa.fa-3x.fa-torch
				h3.text-center Take 3 weeks to get to know us&hellip;
				ul
					li Get all the tools you need to suceed before you officially enroll.
					li Experience Kaplan for 3 weeks at no cost beyond the application fee.
				p.text-center That's the Kaplan Commitment
				.row
					.col-3.mx-auto
						a.btn.btn-primary.text-center Request information
			.col-12.col-lg-6.bg-primary.text-white
				h3.text-center Education for successful, busy people
				p.text-center For almost 80 years, Kaplan University has provided the cutting edge education to help students reach their dreams of career success. We've lead the way so that our students can too. If you're ready to be a leader, contact us today.
				
				h3.text-center What our students have to say:
				
				.row.border-2
					.col-1 &laquo;
					.col
						em.text-center IT moves incredibly fast and it is important to stay ahead of the learning curve. My Kaplan University degree gave me a strong foundation and the tools I need to stay on top in the fascinating, innovative world of virtualization
						p.text-center Aaron Lindeman
						p.text-center D.S. in I.T. and Network Administration Graduate
					.col-1 &raquo;

	section
		h2.text-center Upcoming start dates
		.row.border-1.bg-faded.justify-content-center
			.col-2
				p.text-center.text-uppercase Apr
				p.text-center
					strong 20
			.col-2
				p.text-center.text-uppercase May
				p.text-center
					strong 18
			.col-2
				p.text-center.text-uppercase May
				p.text-center
					strong 25

	section
		h2.text-center Get the Kaplan Program Guide
		.row
			.col-3.mx-auto
				a.btn.btn-warning.text-white Request Information
		em.text-center What are you waiting for?
			
	footer
		.row.justify-content-center
			.col-2 twit
			.col-2 fb
			.col-2 youtube
						
				
			
			